@import url('https://fonts.googleapis.com/css?family=Acme|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Megrim');
.wrapper{
    max-width: 1300px;
    margin: 0px auto;
}
body{
    margin: 0px;
    background: #ffffff;
    background-image: url("../images/background.png");
}
/*Navigation Bar Style*/
nav{
    width: 100%;
    background: #eca217;
    height: 60px;
    box-shadow: 5px 10px 20px 1px #888888;
}
nav p{
    display: inline-block;
    color: #ffffff;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
}
nav p a{
    text-decoration: none;
    color: #ffffff;
    padding: 3px;
}
nav p a:hover{
    background: #333333;
    border-radius: 5px;
    transition: .4s;
}
nav h1{
    display: inline-block;
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Megrim', cursive;
}
/* This is for the admin card items. */
.admin-card {
    background: #ffffff;
    width: 97%;
    height: 50px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 15px 5px #232323;
    margin-top: 20px;
    margin: 0px auto;
}

.admin-content{
  float: left;
  padding: 10px;
}
.admin-content p{
  color: #333333;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1em;
}
.admin-card button{
  float: right;
  height: 100%;
  width: 10%;
  margin: 0;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border: none;
  background: #cc0000;
  color: #ffffff;
}
.admin-card button:hover{
  transition: .4s;
  background: #333333;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;

}
/*Style for main that contains the driver cards*/
main{
    width: 68%;
    background: #333333;
    float: left;
    margin: 10px;
    color: #ffffff;
    padding: 5px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Acme', sans-serif;
    border-radius: 3px;
    margin-top: 80px;
    box-shadow: 0px 10px 40px 1px #888888;
}
main h1{
    margin: 0;
    background: #3896b2;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
main h2{
    margin: 0 0 20px;
    background: #3896b2;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/*Aside(My Account Tab) style*/
aside{
    width: 25%;
    background: #333333;
    float: right;
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 80px;
    box-shadow: 0px 10px 40px 1px #888888;
}
aside p{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
aside h1{
    margin: 0;
    background: #3896b2;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Acme', sans-serif;
}
aside img{
    width: 50px;
    height: auto;
    background: #ffffff;
    border-radius: 35px;
    border: 0px;
}
aside a{
    text-decoration: none;
    color: #ffffff;
    background: #3896b2;
    padding: 5px;
    border-radius: 5px;
}
aside a:hover{
    background: #ffffff;
    color: #3896b2;
    transition: .4s;
}
/*driver card style*/
.driver-card{
    background: #ffffff;
    width: 270px;
    color: #000000;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
}
.driver-card input{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #eca217;
    color: #ffffff;
    border: none;
}
.driver-card input:hover{
    background: #333333;
    transition: .4s;
}
.driver-card h1{
    color: #ffffff;
}
.driver-card h2{
    color: #008141;
    text-align: center;
}
.driver-card p{
    font-size: 1.1em;
}
/*Button Style*/
.submitBtn{
    background: #eca217;
    color: #ffffff;
}
/*Mobile Queries*/
@media screen and (max-width:800px){
    aside{
        float: none;
        width: 92%;
        margin: 0px auto;
        margin-top: 80px;
    }
    main{
        float: none;
        width: 95%;
        margin: 0px auto;
        margin-top: 20px;
    }
    .driver-card{
        width: 300px;
    }
}
@media screen and (max-width:695px){
    .driver-card{
        width: 96%;
    }
}
@media screen and (max-width:535px){
    .driver-card{
        width: 95%;
    }
    #dashName{
        visibility: hidden;
    }
    #dashEmail{
        visibility: hidden;
    }
}
@media screen and (max-width:445px){
    .driver-card{
        width: 94%;
    }
}
@media screen and (max-width:350px){
    .driver-card{
        width: 93%;
    }
}




/* Add a black background color to the top navigation bar */
.searchBar {
    overflow: hidden;
    background-color: #3896b2;
    padding: 5px;
}

/* Style the links inside the navigation bar */
.searchBar a {
    float: none;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.searchBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.searchBar a.active {
    background-color: #2196F3;
    color: white;
}
.searchBar button{
    background: #ffffff;
    color: #3896b2;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    float: right;
}
.searchBar button:hover{
    background: #333333;
    color: #ffffff;
    transition: .4s;
    box-shadow: 0px 0px 10px 0px #ffffff;
}
/* Style the search box inside the navigation bar */
.searchBar input[type=text] {
    float: none;
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    width: 90%;
    margin: 0px auto;
    border-radius: 20px;
}
.searchBar input[type=text]:hover{
    box-shadow: 0px 0px 15px 0px #333333;
    transition: .4s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #333333;
    margin: auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
}
.modal-content h1{
    background:#3896b2;
    color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
}
.modal-content input{
    width:100%;
    height: 50px;
    margin: 10px 0px;
    border-radius: 3px;
    border:none;
    font-size: 1.5em;
}
.modal-content button{
    height: 30px;
    font-size: .8em;
    border-radius: 5px;
    background: #3072cb;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}
.modal-content form{
    margin-bottom: 30px;
}
.modal-content form p{
    color: #ffffff;
}
/* The Close Buttons */
.close {
    color: #eca217;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: 23px;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*The files close*/
.closeFiles {
    color: #eca217;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: 23px;
    margin-right: 10px;
}

.closeFiles:hover,
.closeFiles:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*The files close*/
.closeClient {
    color: #eca217;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: 23px;
    margin-right: 10px;
}

.closeClient:hover,
.closeClient:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .searchBar a, .searchBar input[type=text] {
        float: left;
        display: block;
        text-align: left;
        width: 75%;
        margin: 0;
        padding: 14px;
    }
    .searchBar input[type=text] {
        border: 1px solid #ccc;
        height: 15px;
        border-radius: 30px;
    }
    .searchBar button{
        width: 45px;
        height: 45px;
        border-radius: 30px;
    }
}

