@import url('https://fonts.googleapis.com/css?family=Acme|Quicksand');
.wrapper{
    max-width: 1300px;
    margin: 0px auto;
}
body{
    margin: 0px;
    background: #ffffff;
    background-image: url("../images/background.png");
}
/*Navigation Bar Style*/
nav{
    width: 100%;
    background: #eca217;
    height: 60px;
    box-shadow: 5px 10px 20px 1px #888888;
}
nav p{
    display: inline-block;
    color: #ffffff;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
}
nav p a{
    text-decoration: none;
    color: #ffffff;
    padding: 3px;
}
nav p a:hover{
    background: #333333;
    border-radius: 5px;
    transition: .4s;
}
nav h1{
    display: inline-block;
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Acme', sans-serif;
}
/*Style for main that contains the driver cards*/
main{
    width: 68%;
    background: #333333;
    float: left;
    margin: 10px;
    color: #ffffff;
    padding: 5px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Acme', sans-serif;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 10px 40px 1px #888888;
}
main h1{
    margin: 0;
    background: #3896b2;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/*Aside(My Account Tab) style*/
aside{
    width: 25%;
    background: #333333;
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0px 10px 40px 1px #888888;
}
aside p{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
aside h1{
    margin: 0;
    background: #3896b2;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Acme', sans-serif;
}
/*driver card style*/
.driver-card{
    background: #ffffff;
    width: 270px;
    color: #000000;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
}
.driver-card input{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #eca217;
    color: #ffffff;
    border: none;
}
.driver-card input:hover{
    background: #333333;
    transition: .4s;
}
/*Mobile Queries*/
@media screen and (max-width:800px){
    aside{
        float: none;
        width: 92%;
        margin: 0px auto;
        margin-top: 20px;
    }
    main{
        float: none;
        width: 95%;
        margin: 0px auto;
        margin-top: 20px;
    }
    .driver-card{
        width: 300px;
    }
}
@media screen and (max-width:695px){
    .driver-card{
        width: 96%;
    }
}
@media screen and (max-width:535px){
    .driver-card{
        width: 95%;
    }
}
@media screen and (max-width:445px){
    .driver-card{
        width: 94%;
    }
}
@media screen and (max-width:350px){
    .driver-card{
        width: 93%;
    }
}
